@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;

@namespace DeadLines
@inherits Panel
@attribute [StyleSheet("ShopItem.scss")]

<root class="shopItem" onclick=@BuyItem>
    <div class="top">
        <label>@ItemInfo?.Name</label>
    </div>
    <div class="middle">
        <div class="materialIcon">@ItemInfo?.Icon</div>
    </div>
    <div class="bottom">
        <label>@ItemInfo?.Description</label>
    </div>
</root>

@code
{
    public Pawn Pawn => Game.LocalPawn as Pawn;
    public string ItemTypeName { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        BindClass("disabled", () => Pawn.Item?.GetType().FullName == ItemTypeName);
    }

    public DisplayInfo? ItemInfo
    {
        get
        {
            if (ItemTypeName == null)
                return null;

            var type = TypeLibrary.GetType(ItemTypeName);
            return DisplayInfo.ForType(type.TargetType);
        }
    }

    public void BuyItem (PanelEvent e)
    {
        Pawn.BuyItemCmd(ItemTypeName);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(ItemTypeName, Pawn.Item?.GetType().ToString());
    }
}