StatUpgrade {
    height: 50px;
    width: 350px;
    align-items: center;
    justify-content: space-between;

    .upgradeText {
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
}
