.gamemainmenu frontpage {
	margin: 10px 100px;
	gap: 100px;

	.game-title {
		font-family: Poppins;
		font-weight: 700;
		font-size: 70px;
	}

	.url-hint {
		font-family: Poppins;
		font-weight: 500;
		font-size: 24px;
		margin-top: 30px;
		margin-bottom: 25px;
	}

	.controls {
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
	}
}
