@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace DeadLines
@inherits Panel
@attribute [StyleSheet]

<root>
    <label class="gameover" @ref=GameOverLabel>GAME OVER</label>
    <div>
        Press<image class="restartGlyph" @ref="RestartGlyph" />to @(DeadLines.Manager.GameNeverStarted ? "start" : "restart")
    </div>
</root>

@code
{
    public Image RestartGlyph { get; set; }
    public Label GameOverLabel { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        BindClass("hidden", () => !DeadLines.Manager.GameOver);
        GameOverLabel.BindClass("hidden", () => DeadLines.Manager.GameNeverStarted);
    }

    public override void Tick()
    {
        RestartGlyph.Texture = Input.GetGlyph("reload");
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DeadLines.Manager.GameOver);
    }
}
