GameStats {
    position: absolute;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

    .health {
        &.high {
            color: green;
        }

        &.low {
            color: orange;
        }

        &.dead {
            color: red;
        }
    }
}
