@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace DeadLines
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <GameStats />
    <GameOver />
    <UpgradePanel @ref=UpgradePanel />
    <ChatBox/>
    <VoiceList/>
    <Crosshair @ref=Crosshair />

    <div class="pointer-visible" />

    <div class="header">
        <label></label>
        <label class="subtitle"></label>
    </div>
</root>

@code
{
    public Crosshair Crosshair { get; set; }
    public UpgradePanel UpgradePanel { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (firstTime)
        {
            Crosshair.BindClass("hidden", () => !UpgradePanel.HasClass("hidden"));
        }
    }

    public override void Tick()
    {
        var devCam = Game.LocalClient.Components.Get<DevCamera>();
        SetClass( "camera-movement", devCam is not null );
    }
}