WaveTimer {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    text-align: center;
    gap: 5px;

    .timer {
        font-size: 30px;
    }
}
